.fsfButton {
  min-width: 64px;
  max-width: 152px;
  height: 40px;
  padding: 8px 8px 8px 8px;

  border-radius: 8px;
  border-style: solid;
  border-width: 1px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fsfButton:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #FFFFFF;
}

.fsfButton:focus {
  outline: none;
}

.primary {
  background-color: #2d81af;
  border-color: #2d81af;
  
  color: #ECECEC;
}

.info {
  background-color: #FFFFFF;
  border-color: #4b4b4b;

  color: #4b4b4b;
}

.danger {
  background-color: #B4472F;
  border-color: #B4472F;

  color: #ECECEC;
}