.userIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #BDBDBD;
}

.userIconContainer > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.userIconContainer > p {
  margin: 0;
}