.homeLogoContainer {
  display: flex;
  align-content: center;
}

.homeLogoText {
  padding-left: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}