.topNavigationContainer {
  display: flex;
  justify-content: space-between;
}

.homeIconContainer {
  display: flex;
  align-items: center;
}

.homeIconText {
  padding-left: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}